// Base SCSS

// includes the footer as well

// Base Elements
body{
  margin:0;
  @include breakpoint-max($bp-xs){

  }
}

main{
  padding-top:36px;
  padding-left:0;
  transition:padding-left .3s ease-in;
  @include breakpoint-min($bp-med){
    padding-top:90px;
  }
}

nav.js-toggle + main{
  @include breakpoint-min($bp-sm){
    padding-left:20rem;
  }
}

.link{

  &:link {
    color:blue;
  }
  &:hover {
    color: orange
  }
  &:visited {
    color:pink;
  }
}

// Headings

.heading--lg{
  @include heading(3rem);
}

.heading--md{
  @include heading(2rem);
}

.heading--xs{
  @include heading(1.25rem);
}

.subheading{
  @include heading(1.5rem);
}

// Paragraphs

.std-paragraph{
  @include stdParagraph;
}

// Row containers

.row{
  display:block;
}