// Recent Content SCSS 

.recent-content{
  @include centerMargin;
  padding-top:1rem;
  width: 100%;
  @include breakpoint-min($bp-med){
    width:55%;
  }
}

.recent-content:last-of-type{
  margin-bottom:10rem;
  margin-top:5rem;
}

// heading box

.heading-box{
  @include margin(1.75rem, auto);
  width:95%;
  @include breakpoint-min($bp-xs){
    width:85%;
  }

}

.heading-box__divider{
  @include margin(.125rem,auto);
}


// iFrame content and containers

.entry--video{
  @include margin(1.5rem,auto);
  width:95%;
  height:14rem;
  @include breakpoint-min($bp-xs){
    width:55%;
    height:20rem;
  }
}

.entry--audio{
  @include margin(1.75rem,auto);
  width:95%;
  @include breakpoint-min($bp-xs){
    width:75%;
  }
}

.entry__date{
  @include helvetica;
  margin:0;
  
}

// Media elements

.video--lg{
  @include centerMargin;
  background-color:grey;
  width:95%;
  height:85%;
  display:block;
  @include breakpoint-min($bp-xs){
    width:100%;
    height:85%;
  }
}

.audio{
  background-color:grey;
}

.button--sub{
  @include buttonTheme(#c3c3c3);
}