// SCSS for video/ audio archiving pages

// Filter Bar SCSS

.filter-bar{
  width:100%;
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-between;

  @include breakpoint-min($bp-sm){
    height:2rem;
    flex-flow:row nowrap;
    justify-content: center;
    align-items:center;
    background-color:lightgrey;
  }
}

.filter-coll{
  @include padding(5px, 5px);
  display:flex;
  align-items:center;
  justify-content: space-between;
  background-color:lightgrey;
  box-shadow: 0 0.2rem 0.2rem inset rgba(0,0,0,0.12);

  @include breakpoint-min($bp-sm){
    display:none;
  }
}

.filter-coll__text{
  @include helvetica;
  display:inline-block;
  font-size: 1.25rem;
}


.collapse-target{
  height: 0;
  width: 100%;
  display:flex;
  justify-content: center;
  flex-flow: column nowrap;
  overflow: hidden;
  background-color: lightgrey;

  @include breakpoint-min($bp-sm){
    padding: 0;
    width: 75%;
    height: auto;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }
}

.collapse-target.js-toggle{
  padding-top:2px;
  padding-bottom:5px;
  height:auto;

  @include breakpoint-min($bp-sm){
    padding: 0;
  }
}

.search-ctr{
  @include margin(3px, 5px);
  width: 100%;
  display: block;

  @include breakpoint-min($bp-sm){
    width:auto;
  }
}

.filter__search{
  @include padding(0.25rem, 0.25rem);
}

.button--search{
  @include buttonStatic;
  background-color:grey;
  border:0;
}

.select{
  @include margin(3px, 5px);
  @include padding(0.5rem, 0.5rem);

  @include breakpoint-min($bp-sm){
    @include padding(0rem, 0rem);
  }
}

.select--cat{
  @include breakpoint-min($bp-sm){
    display: inline-block;
  }
}

.select--dur{
  @include breakpoint-min($bp-sm){
    display: inline-block;
  }
}

.sort-filter{
  @include margin(10px, 5px);
  display:flex;
  justify-content:center;

  @include breakpoint-min($bp-sm){
     margin:0;
  }
}

.select--sort{
  width:100%;

  @include breakpoint-min($bp-sm){
    width:9rem;
  }
}

.spacer{
  @include margin(0, auto);
  width:95%;

  @include breakpoint-min($bp-sm){
    display: none;
  }
}

// Archive SCSS


// Video Entry SCSS

.archive{
  @include margin(0.5rem, auto);
  width:90%;
  display:flex;
  align-items:center;
  flex-flow:column nowrap;
  justify-content: space-around;

  @include breakpoint-min($bp-sm){
    width:75%;
  }
}

.entry{
  @include margin(0.5rem, 0);
  @include padding(0.25rem,0);
  width:100%;
}

.entry--video{
  display:flex;
  align-items:center;
  flex-flow:row nowrap;
  justify-content: space-evenly;
}

.entry__thumb{
  width:45%;
}
.entry__info{
  width:45%;
}

.entry__title{
  @include trebuchet;
  @include margin(.1rem,auto);
  font-size:1.25rem;
}

.entry__date{
  @include margin(0.1rem,auto);
}

.entry__text{
  display:none;

  @include breakpoint-min($bp-sm){
    display:block;
  }
}

.row--tags{
  display:block;
}

.entry__tag{
  color:pink;
}

.row--links{
  display:block;
}

.row--button{
  @include margin(10px, 0px);
}

.page-scroll{

  @include breakpoint-min($bp-sm){
    width:75%;
  }
  @include breakpoint-min($bp-xl){
    width:45%;
  }
}