.entry{
  @include margin(0.5rem, 0);
  @include padding(0.25rem, 0);
  width:100%;
}

.entry__thumb{
  width: 45%;
}

.entry__title{
  @include trebuchet;
  @include margin(0.1rem, auto);
  font-size: 1.25rem;
}

.entry__date{
  @include margin(0.1rem, auto);
  @include trebuchet;
}

.entry__text{
  @include helvetica;
  display: none;

  @include breakpoint-min($bp-sm){
    display: block;
  }
}

.row--tags{
  display: block;
}

.entry__tag{
  @include helvetica;
  color: orange;
}

.row--links{
  display: block;
}

.row--button{
  @include margin(10px, 0px);
}

// Video Entry SCSS

.info--video{
  width: 45%;
}

.entry--video{
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}


// Audio Entry SCSS

.sub-group{
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include breakpoint-min($bp-sm){
    margin: 10px;
    flex-flow: row nowrap;
  }
}

.btn--sub{
  @include buttonTheme();
  margin: 5px;
  padding: 5px;
  width: 173px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-icon{
  padding-right: 5px;
}

.info--audio{
  width: 100%;
}