/* SASE Casts CSS */
body {
  margin: 0;
}

main {
  padding-top: 36px;
  padding-left: 0;
  -webkit-transition: padding-left .3s ease-in;
  transition: padding-left .3s ease-in;
  width: 100vw;
}

@media (min-width: 1024px) {
  main {
    padding-top: 90px;
  }
}

@media (min-width: 768px) {
  nav.js-toggle + main {
    padding-left: 20rem;
  }
}

.link:link {
  color: blue;
}

.link:hover {
  color: orange;
}

.link:visited {
  color: pink;
}

.heading--lg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: "Trebuchet MS", san-serif;
  font-weight: 600;
  font-size: 3rem;
}

.heading--md {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: "Trebuchet MS", san-serif;
  font-weight: 600;
  font-size: 2rem;
}

.heading--xs {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: "Trebuchet MS", san-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.subheading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: "Trebuchet MS", san-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.std-paragraph {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
  font-family: "Helvetica", san-serif;
  width: 85%;
  text-indent: 25px;
}

.row {
  display: block;
}

.icon--sm {
  height: 1rem;
  max-width: 1rem;
}

nav {
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem 0.15rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.1rem 0.1rem 0.5rem 0.15rem rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
  z-index: 2;
  background-color: lightgrey;
}

@media (min-width: 1024px) {
  nav {
    -webkit-box-shadow: 0.1rem 0.1rem 0.5rem 0.2rem rgba(0, 0, 0, 0.25);
            box-shadow: 0.1rem 0.1rem 0.5rem 0.2rem rgba(0, 0, 0, 0.25);
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav__header {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1024px) {
  .nav__header {
    margin: 0;
    width: 35%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.nav__burger {
  width: 40px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .nav__burger {
    display: none;
  }
}

.burger-line {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 24px;
  border: 1px solid black;
}

.nav__heading {
  font-family: "Helvetica", san-serif;
  display: none;
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .nav__heading {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.nav__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: calc(50% - 93px * 0.5);
}

@media (min-width: 1024px) {
  .nav__home {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.logo-img {
  height: 34px;
}

@media (min-width: 1024px) {
  .logo-img {
    margin-left: 0;
    margin-right: 0;
    margin-top: 22px;
    margin-bottom: 22px;
    height: 44px;
  }
}

.nav__list {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: lightgrey;
  margin: 0;
  height: 0;
  list-style: none;
  overflow: hidden;
  font-size: 1.25rem;
  -webkit-transition: height 0.3s ease-in, width 0.3s ease-in;
  transition: height 0.3s ease-in, width 0.3s ease-in;
}

@media (min-width: 768px) {
  .nav__list {
    padding: 0;
    height: 100vh;
    width: 0;
    position: fixed;
  }
}

@media (min-width: 1024px) {
  .nav__list {
    height: 100%;
    width: auto;
    margin-right: 0.675rem;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.js-toggle .nav__list {
  height: auto;
  width: 100%;
  -webkit-transition: height 0.3s ease-in, width 0.3s ease-in;
  transition: height 0.3s ease-in, width 0.3s ease-in;
}

@media (min-width: 768px) {
  .js-toggle .nav__list {
    padding-left: 10px;
    height: 100vh;
    width: 20rem;
  }
}

.nav__item {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.675rem;
  padding-bottom: 0.675rem;
  height: 1.75rem;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
}

@media (min-width: 768px) {
  .nav__item {
    width: 0;
  }
}

@media (min-width: 1024px) {
  .nav__item {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
  }
}

.js-toggle .nav__list > .nav__item {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.675rem;
  padding-bottom: 0.675rem;
}

@media (min-width: 768px) {
  .js-toggle .nav__list > .nav__item {
    width: auto;
  }
}

.nav__link {
  font-family: "Helvetica", san-serif;
  width: 100%;
  color: black;
  text-align: left;
  overflow: hidden;
  text-decoration: none;
}

.nav__link:hover {
  color: blue;
}

.nav__link:active {
  color: pink;
}

.intro {
  width: 100%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro--landing {
  background: url("layout/img/back-sm.jpg") no-repeat;
}

@media (min-width: 576px) {
  .intro--landing {
    background: url("layout/img/back-lg.jpg") no-repeat;
    background-size: cover;
  }
}

.intro--vid-archive {
  background: #F2FFEF;
}

.intro__card {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.25);
  background-color: white;
  max-width: 85%;
}

@media (min-width: 576px) {
  .intro__card {
    width: 55%;
  }
}

@media (min-width: 1024px) {
  .intro__card {
    width: 30%;
  }
}

.intro__heading {
  text-align: center;
}

.intro-paragraph {
  font-family: "Helvetica", san-serif;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  width: 95%;
  text-indent: 25px;
}

.recent-content {
  margin-right: auto;
  margin-left: auto;
  padding-top: 1rem;
  width: 100%;
}

@media (min-width: 1024px) {
  .recent-content {
    width: 55%;
  }
}

.recent-content:last-of-type {
  margin-bottom: 10rem;
  margin-top: 5rem;
}

.heading-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  width: 95%;
}

@media (min-width: 576px) {
  .heading-box {
    width: 85%;
  }
}

.heading-box__divider {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.latest--video {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 95%;
  height: 14rem;
}

@media (min-width: 576px) {
  .latest--video {
    width: 55%;
    height: 20rem;
  }
}

.latest--audio {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  width: 95%;
}

@media (min-width: 576px) {
  .latest--audio {
    width: 75%;
  }
}

.latest__date {
  font-family: "Helvetica", san-serif;
  margin: 0;
}

.video--lg {
  margin-right: auto;
  margin-left: auto;
  background-color: grey;
  width: 95%;
  height: 85%;
  display: block;
}

@media (min-width: 576px) {
  .video--lg {
    width: 100%;
    height: 85%;
  }
}

.audio {
  background-color: grey;
}

.button--std {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem 0.15rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.1rem 0.1rem 0.5rem 0.15rem rgba(0, 0, 0, 0.25);
  font-family: "Helvetica", san-serif;
  width: 6rem;
  height: 1.75rem;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  border: none;
  background-color: #007bff;
}

.button--std:hover {
  background-color: #0056b3;
}

footer {
  -webkit-box-shadow: 0rem 0.15rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0rem 0.15rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1) inset;
  background: lightgrey;
  width: 100%;
  padding-bottom: 10px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  footer {
    height: auto;
  }
}

.icon-row {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon--sm {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 2rem;
}

.text--short {
  margin-right: auto;
  margin-left: auto;
  font-family: "Helvetica", san-serif;
  text-align: center;
  width: 45%;
}

@media (min-width: 1024px) {
  .text--short {
    width: 35%;
  }
}

.filter-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .filter-bar {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: lightgrey;
  }
}

.filter-coll {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: lightgrey;
  -webkit-box-shadow: 0 0.2rem 0.2rem inset rgba(0, 0, 0, 0.12);
          box-shadow: 0 0.2rem 0.2rem inset rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .filter-coll {
    display: none;
  }
}

.filter-coll__text {
  font-family: "Helvetica", san-serif;
  display: inline-block;
  font-size: 1.25rem;
}

.collapse-target {
  height: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow: hidden;
  background-color: lightgrey;
}

@media (min-width: 768px) {
  .collapse-target {
    padding: 0;
    width: 80%;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.collapse-target.js-toggle {
  padding-top: 2px;
  padding-bottom: 5px;
  height: auto;
}

@media (min-width: 768px) {
  .collapse-target.js-toggle {
    padding: 0;
  }
}

.search-ctr {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 100%;
  display: block;
}

@media (min-width: 768px) {
  .search-ctr {
    width: auto;
  }
}

.filter__search {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.button--search {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem 0.15rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.1rem 0.1rem 0.5rem 0.15rem rgba(0, 0, 0, 0.25);
  font-family: "Helvetica", san-serif;
  width: 6rem;
  height: 1.75rem;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  border: none;
  background-color: #007bff;
}

.button--search:hover {
  background-color: #0056b3;
}

.select {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .select {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}

@media (min-width: 1024px) {
  .select {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}

@media (min-width: 768px) {
  .select--cat {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .select--dur {
    display: inline-block;
  }
}

.sort-filter {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .sort-filter {
    margin: 0;
  }
}

.select--sort {
  width: 100%;
}

@media (min-width: 768px) {
  .select--sort {
    width: 9rem;
  }
}

.spacer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 95%;
}

@media (min-width: 768px) {
  .spacer {
    display: none;
  }
}

.archive {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  .archive {
    width: 75%;
  }
}

@media (min-width: 1024px) {
  .archive {
    width: 50%;
  }
}

@media (min-width: 1440px) {
  .archive {
    width: 28%;
  }
}

.entry {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  width: 100%;
}

.entry--video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.entry__thumb {
  width: 45%;
}

.entry__info {
  width: 45%;
}

.entry__title {
  font-family: "Trebuchet MS", san-serif;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  font-size: 1.25rem;
}

.entry__date {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.entry__text {
  display: none;
}

@media (min-width: 768px) {
  .entry__text {
    display: block;
  }
}

.row--tags {
  display: block;
}

.entry__tag {
  color: orange;
}

.row--links {
  display: block;
}

.row--button {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.scroll-ctr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll {
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .scroll {
    width: 25%;
  }
}

@media (min-width: 1440px) {
  .scroll {
    width: 15%;
  }
}

[data-page] {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

.scroll__btn:not([data-page]) {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2rem;
  color: red;
}
/*# sourceMappingURL=main.css.map */