/* SASE Casts CSS */
body {
  margin: 0;
}

main {
  padding-top: 36px;
  padding-left: 0;
  -webkit-transition: padding-left .3s ease-in;
  transition: padding-left .3s ease-in;
}

@media (min-width: 1024px) {
  main {
    padding-top: 90px;
  }
}

@media (min-width: 768px) {
  nav.js-toggle + main {
    padding-left: 20rem;
  }
}

.link:link {
  color: blue;
}

.link:hover {
  color: orange;
}

.link:visited {
  color: pink;
}

.heading--lg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: "Trebuchet MS", san-serif;
  font-weight: 600;
  font-size: 3rem;
}

.heading--md {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: "Trebuchet MS", san-serif;
  font-weight: 600;
  font-size: 2rem;
}

.heading--xs {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: "Trebuchet MS", san-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.subheading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: "Trebuchet MS", san-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.std-paragraph {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
  font-family: "Helvetica", san-serif;
  width: 85%;
  text-indent: 25px;
}

.row {
  display: block;
}

nav {
  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.35);
          box-shadow: 0.1rem 0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
  background-color: lightgrey;
  z-index: 2;
}

@media (min-width: 1024px) {
  nav {
    -webkit-box-shadow: 0.1rem 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.35);
            box-shadow: 0.1rem 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.35);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .nav__header {
    margin: 0;
    width: 35%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.nav__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  z-index: 2;
}

@media (min-width: 1024px) {
  .nav__burger {
    display: none;
  }
}

.burger-line {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid black;
  width: 24px;
}

.nav__heading {
  font-family: "Helvetica", san-serif;
  display: none;
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .nav__heading {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.nav__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: calc(50% - 93px * .5);
}

@media (min-width: 1024px) {
  .nav__home {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.logo-img {
  height: 34px;
}

@media (min-width: 1024px) {
  .logo-img {
    margin-left: 0;
    margin-right: 0;
    margin-top: 22px;
    margin-bottom: 22px;
    height: 44px;
  }
}

.nav__list {
  font-size: 1.25rem;
  margin: 0;
  background-color: lightgrey;
  height: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  -webkit-transition: height .3s ease-in, width .3s ease-in;
  transition: height .3s ease-in, width .3s ease-in;
}

@media (min-width: 768px) {
  .nav__list {
    height: 100vh;
    width: 0;
    position: fixed;
  }
}

@media (min-width: 1024px) {
  .nav__list {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
  }
}

.js-toggle .nav__list {
  height: 10rem;
  width: 100%;
  -webkit-transition: height .3s ease-in, width .3s ease-in;
  transition: height .3s ease-in, width .3s ease-in;
}

@media (min-width: 768px) {
  .js-toggle .nav__list {
    height: 100vh;
    width: 20rem;
  }
}

.nav__item {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.675rem;
  padding-bottom: 0.675rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.75rem;
  text-align: center;
  width: auto;
  overflow: hidden;
}

@media (min-width: 768px) {
  .nav__item {
    width: 0;
  }
}

@media (min-width: 1024px) {
  .nav__item {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
  }
}

.js-toggle .nav__list > .nav__item {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.675rem;
  padding-bottom: 0.675rem;
}

@media (min-width: 768px) {
  .js-toggle .nav__list > .nav__item {
    width: auto;
  }
}

.nav__link {
  font-family: "Helvetica", san-serif;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

.nav__link:hover {
  color: blue;
}

.nav__link:active {
  color: pink;
}

.intro {
  width: 100%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro--landing {
  background: url("_layout/img/back-sm.jpg") no-repeat;
}

@media (min-width: 425px) {
.intro--video-archive {
  background: #F2FFEF;
}

/* SASE Casts CSS */
body {
  margin: 0;
}

main {
  padding-top: 36px;
  padding-left: 0;
  -webkit-transition: padding-left .3s ease-in;
  transition: padding-left .3s ease-in;
}

@media (min-width: 1024px) {
  main {
    padding-top: 90px;
  }
}

@media (min-width: 768px) {
  nav.js-toggle + main {
    padding-left: 20rem;
  }
}

.link:link {
  color: blue;
}

.link:hover {
  color: orange;
}

.link:visited {
  color: pink;
}

.heading--lg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: "Trebuchet MS", san-serif;
  font-weight: 600;
  font-size: 3rem;
}

.heading--md {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: "Trebuchet MS", san-serif;
  font-weight: 600;
  font-size: 2rem;
}

.heading--xs {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: "Trebuchet MS", san-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.subheading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: "Trebuchet MS", san-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.std-paragraph {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
  font-family: "Helvetica", san-serif;
  width: 85%;
  text-indent: 25px;
}

.row {
  display: block;
}

nav {
  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.35);
          box-shadow: 0.1rem 0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
  background-color: lightgrey;
  z-index: 2;
}

@media (min-width: 1024px) {
  nav {
    -webkit-box-shadow: 0.1rem 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.35);
            box-shadow: 0.1rem 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.35);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .nav__header {
    margin: 0;
    width: 35%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.nav__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  z-index: 2;
}

@media (min-width: 1024px) {
  .nav__burger {
    display: none;
  }
}

.burger-line {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid black;
  width: 24px;
}

.nav__heading {
  font-family: "Helvetica", san-serif;
  display: none;
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .nav__heading {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.nav__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: calc(50% - 93px * .5);
}

@media (min-width: 1024px) {
  .nav__home {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.logo-img {
  height: 34px;
}

@media (min-width: 1024px) {
  .logo-img {
    margin-left: 0;
    margin-right: 0;
    margin-top: 22px;
    margin-bottom: 22px;
    height: 44px;
  }
}

.nav__list {
  font-size: 1.25rem;
  margin: 0;
  background-color: lightgrey;
  height: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  -webkit-transition: height .3s ease-in, width .3s ease-in;
  transition: height .3s ease-in, width .3s ease-in;
}

@media (min-width: 768px) {
  .nav__list {
    height: 100vh;
    width: 0;
    position: fixed;
  }
}

@media (min-width: 1024px) {
  .nav__list {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
  }
}

.js-toggle .nav__list {
  height: 10rem;
  width: 100%;
  -webkit-transition: height .3s ease-in, width .3s ease-in;
  transition: height .3s ease-in, width .3s ease-in;
}

@media (min-width: 768px) {
  .js-toggle .nav__list {
    height: 100vh;
    width: 20rem;
  }
}

.nav__item {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.675rem;
  padding-bottom: 0.675rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.75rem;
  text-align: center;
  width: auto;
  overflow: hidden;
}

@media (min-width: 768px) {
  .nav__item {
    width: 0;
  }
}

@media (min-width: 1024px) {
  .nav__item {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
  }
}

.js-toggle .nav__list > .nav__item {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.675rem;
  padding-bottom: 0.675rem;
}

@media (min-width: 768px) {
  .js-toggle .nav__list > .nav__item {
    width: auto;
  }
}

.nav__link {
  font-family: "Helvetica", san-serif;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

.nav__link:hover {
  color: blue;
}

.nav__link:active {
  color: pink;
}

.intro {
  width: 100%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro--landing {
  background: url("_layout/img/back-sm.jpg") no-repeat;
}

@media (min-width: 425px) {
  .intro--landing {
    background: url("_layout/img/back-lg.jpg") no-repeat;
    background-size: cover;
  }
}

.intro--video-archive {
  background: #F2FFEF;
}

.intro__card {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.35);
          box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.35);
  background-color: white;
  max-width: 85%;
}

@media (min-width: 425px) {
  .intro__card {
