// Mixins for buttons

@mixin buttonTheme($color){
  @include buttonStatic;
  background-color:$color;
  &:hover {
    background-color: darken($color,15%);
  }

}

@mixin buttonStatic{
  @include margin(0,5px);
  @include shadowMid;
  width: 6rem;
  height: 1.75rem;
  border-radius:3px;
  border: 1.5px solid white;
  color:white;
  &:hover {
    @include shadowLow;
  }
}