// Footer sCSS

footer{
  @include shadowIn;
  background: lightgrey;
  width:100%;
  padding-bottom:10px;
  @include breakpoint-min-max($bp-med,$bp-lg){
    height:auto;
  }
}

// Icon row

.icon-row{
  @include padding(.75rem,0);
  display:flex;
  justify-content:center;
  align-items:center;
}

.icon--sm{
  @include margin(0,.25rem);
  height:auto;
  width:2rem;

}

// Copyright imfp

.text--short{
  @include centerMargin;
  @include helvetica;
  text-align:center;
  width:45%;

  @include breakpoint-min($bp-med){
    width:35%;
  }
}

